.col-12 {
    background-color: black;
    height: 250px;
    color: white;
    font-size: 155px;
    text-align: center;
}

.inputField {
    width: 400px
}

.inputField {
    margin: auto;
}

#searchBtn {
    width: 400px;
    border-radius: 50px;
}

.imgStyle {
    width: 350px;
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
}

img { 
    border:10px solid white;
    border-radius: 50px;
 }

 body {
     background-color: black;
 }